*{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 20px;
}

ul{
  list-style: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li{
  margin: 10px;
  font-size: 25px;
}

.navbar ul li .nav-item{
  text-decoration: none;
} 